
<div class="test">
  <form [formGroup]="profileForm" class="form-container">

      <p-dialog
        header="Add new Job"
        [(visible)]="isVisible"
        [style]="{ width: '28rem', background: 'white', padding:'10px'}"
      >
    <div class="p-dialog-container">
    
    
      <div class="form-article">
        <label for="title">title</label>
        <input id="title" formControlName="title" type="text"  (input)="profileForm.controls['title'].markAsTouched()" placeholder="add title" />
            <div class="error-block" *ngIf="profileForm.controls['title'].invalid && profileForm.controls['title'].touched">  
              <div class="error-message" *ngIf="profileForm.controls['title'].hasError('required')">Title is required.</div>
              <div class="error-message"  *ngIf="profileForm.controls['title'].hasError('minlength')">Must be at least 3 characters long.</div>
            </div>
      </div>
    
        
      <div class="form-article">
        <label for="discription">discription</label>
        <input id="discription" formControlName="discription" type="text"  (input)="profileForm.controls['discription'].markAsTouched()"  placeholder="add discription" />
              <div class="error-block" *ngIf="profileForm.controls.discription.invalid && profileForm.controls.discription.touched">
                <div class="error-message" *ngIf="profileForm.controls['discription'].hasError('required')">ID is required.</div>
                <div class="error-message" *ngIf="profileForm.controls['discription'].hasError('pattern')">ID must be a number.</div>
                <div class="error-message" *ngIf="profileForm.controls['discription'].hasError('minlength')">Must must be at least 1 characters long.</div>
              </div>
      </div>

  
      <div class="form-article">
        <label for="schedule">schedule</label>
        <select  id="schedule" formControlName="schedule" >
          <option value="" disabled selected>choose schedule</option>
          <option value="#1h">1 часа</option>
          <option value="#2h">2 часа</option>
          <option value="#3h">3 часа</option>
          <option value="#4h">4 часа</option>
        </select>
        <div class="error-block" *ngIf="profileForm.controls['schedule'].invalid && profileForm.controls['schedule'].touched">
          <div class="error-message" *ngIf="profileForm.controls['schedule'].hasError('required')">Tegs is required.</div>
        </div>
      </div>


        <div class="form-article">
          <label for="tegs">tegs</label>
          <select  id="tegs" formControlName="tegs" >
            <option value="" disabled selected>choose tegs</option>
            <option value="#deploy">deploy</option>
            <option value="#build_dev">build_dev</option>
            <option value="#test">test</option>
            <option value="#fix">fix</option>
          </select>
          <div class="error-block" *ngIf="profileForm.controls['tegs'].invalid && profileForm.controls['tegs'].touched">
            <div class="error-message" *ngIf="profileForm.controls['tegs'].hasError('required')">Tegs is required.</div>
          </div>
        </div>

    
          
    
    
        </div>
        <div class="btns">
          <button class="btn-create-new-dag" mat-flat-button (click)="openDialogAddJobs()">Отмена </button>
          <button class="btn-create-new-dag" mat-flat-button (click)="onAdd(profileForm)" [disabled]="profileForm.invalid" >Создать DAG </button>
        </div>
      </p-dialog>
  </form>

</div>