{
  "rules": {
    "max-classes-per-file" : "off",
    "no-plusplus" : "off",
    "no-param-reassign" : "off",
    "no-underscore-dangle" : "off",
    "class-methods-use-this" : "off",
    "no-use-before-define" : "off",
    "max-len": ["warn", { "code": 130 }],
    "no-console" : "off",
    "guard-for-in" : "off",
    "no-continue" : "off",
    "no-fallthrough" : "off",
    "no-loop-func" : "off",
    "func-names" : "off",
    "consistent-return" : "off",
    "no-shadow" : ["warn"],
    "no-restricted-syntax" : ["warn"],
    "array-callback-return" : "off",
    "no-undef" : "off",
    "no-unused-vars" : "off"
  },
  "parser": "babel-eslint"
}
