<div id="pipeline-info">
  <div class="content">
    <div id="pipeline-dag">
      <span id="pipeline-dag-title">DAG:</span> {{selectedDag?.name}}
    </div>
    <div id="pipeline-control-buttons">
      <button class="pipeline-dag-btn btn-blue">
        <span>
          <i class="bi bi-save"></i> Сохранить
        </span>
      </button>
      <button class="pipeline-dag-btn btn-green">
        <span>
          <i class="bi bi-caret-right-fill"></i> Запустить
        </span>
      </button>
      <button class="pipeline-dag-btn btn-red">
        <span>
          <i class="bi bi-trash3"></i> Удалить
        </span>
      </button>
    </div>
  </div>
</div>
<div id="pipeline-working-zone">
  <div id="pipeline-working-panel">
    <div [matTooltip]="'Создать новую задачу'" (click)="createElement('task')"><i class="bi bi-plus-square"></i></div>
    <div [matTooltip]="'Создать новую область'" (click)="createElement('field')"><i class="bi bi-fullscreen"></i></div>
    <div [matTooltip]="'Создать комментрий'" (click)="createElement('comment')"><i class="bi bi-chat-dots"></i></div>
  </div>
  <app-draggable-field [elements]="elements"></app-draggable-field>
</div>
