<div class="content">
  <div class="duc-logo">
    <div class="duc-logo-img">
      <a href="/">
        <img
          src="https://static.tildacdn.com/tild6439-6537-4366-a563-353033303366/logo-web.svg"
          alt="logo"
        />
      </a>
    </div>
  </div>

  <div class="main-section">
    <div class="main-section-cell">
      <mat-icon aria-hidden="false" fontIcon="view_comfy"></mat-icon>Панель
      мониторинга
    </div>
    <div class="main-section-cell">
      <mat-icon aria-hidden="false" fontIcon="people"></mat-icon>Профиль
    </div>
    <div class="main-section-cell">
      <mat-icon aria-hidden="false" fontIcon="settings"></mat-icon>Настройки
    </div>
  </div>
</div>
